# ST-LINK V3 + STM32G4 target (STM32G431RB Nucleo-64)
# Flash:  openocd -f openocd.cfg -c "program build/pacman.elf verify reset exit"
# Debug:  openocd -f openocd.cfg   (then connect gdb to :3333)

source [find interface/stlink.cfg]
source [find target/stm32g4x.cfg]
